// colors
$color-green-1: #90d26c;
$color-green-2: #dbff90;

$color-gray-1: #f8f9fd;
$color-gray-2: #e4e7f4;
$color-gray-3: #e1e1e1;
$color-gray-4: #c0c3d2;
$color-gray-5: #9198af;
$color-gray-6: #2a2d3b;

$color-blue-1: #68a0fa;

$color-pink: #fff3f2;

$color-white: #fff;

$color-black: #000;

// font stacks
$font-roboto: "Roboto", sans-serif;

// font-weight
$font-regular: 400;
